@font-face {
    font-family: 'segoe-light';
    font-style: normal;
    src: local('Segoe UI Light'), local('SegoeUI-Light');
    font-display: swap;
}
@font-face {
    font-family: 'segoe-regular';
    font-style: normal;
    src: local('Segoe UI regular'), local('SegoeUI-regular');
    font-display: swap;
}
@font-face {
    font-family: 'segoe-semibold';
    font-style: normal;
    src: local('Segoe UI Semibold'), local('SegoeUI-Semibold');
    font-display: swap;
}
@font-face {
    font-family: 'segoe-bold';
    font-style: normal;
    src: local('Segoe UI Bold'), local('SegoeUI-Bold');
    font-display: swap;
}