//Colors

$primary-1: #222222;
$primary-2: #777366;
$white: #ffffff;
$grey-shade: #faf9ff;
$blue: #1f4afb;
$bg-gray:#f8f8f8;
$grey-dark:#eeeeee;
$light-bg: #dedede;
$dark-bg: #000000;
$purple-light: #cfd4fe;
$dark-blue: #2b4afc;
$grey-medium: #545454;

//Font
$segoe-light: 'segoe-light';
$segoe-regular: 'segoe-regular';
$segoe-semibold: 'segoe-semibold';
$segoe-bold: 'segoe-bold';