//Colors

$primary-1: #222222;
$primary-2: #777777;
$white: #ffffff;
$grey-shade: #faf9ff;
$blue: #1f4afb;
$bg-gray:#f8f8f8;
$gerey-dark:#eeeeee;

//Font
$segoe-light: 'segoe-light';
$segoe-regular: 'segoe-regular';
$segoe-semibold: 'segoe-semibold';
$segoe-bold: 'segoe-bold';