.btn{    
    font-size: 14px;
    &__small{
        padding: 10px;
    }
    &__medium{
        padding: 8px 31px 9px;
    }
    &__big{
        padding: 14px 36px 15px;
    }    
    &__wide{
        padding: 8px 37px 9px;
    }
    &--white{
        background: $white;
        color: $primary-1;
        &:hover{
            background: darken( $white, 10% );
            color: $primary-1;
        }
    }
    &--blue{
        background: $blue;
        color: $white;
        &:hover{
           background: lighten( $blue, 5% );
           color: $white;
        }
    }
    &--bold{
        font-family: $segoe-bold;
    }
}