.banner{
    background: url(../../images/banner.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    color: $white;
    display: flex;
    height: calc(100vh - 122px);
    margin-bottom: 120px;
    min-height: 375px;
    position: relative;
    @include if-max-break(md) {
        margin-bottom: 54px;
    }
    @include if-max-break(sm) {
        height: calc(100vh - 82px);
        min-height: auto;
    }
    &__overlay{
        background: rgba(0,0,0,.5);
        height: 100%;
        position: absolute;          
        width: 100%;      
        z-index: 1;
    }
    &__content{
        margin: auto;  
        position: relative;
        width: 60%;
        z-index: 2;
        @media (max-width: 1199px){
            width: 95%;
        }
    }
    &__title{
        font-family: $segoe-bold;
        font-size: 62px;
        margin-bottom: 24px;
        @include if-max-break(md) {
            font-size: 25px;
        }
    }    
    &__description{
        margin-bottom: 63px;
        span{
            margin: 0 13px;
        }
    }
    &--small{
        height: 225px;
        .banner__title{
            margin-top: 15px;
            margin-bottom: 14px;
        }
    }  
    .dark--theme & {
        .btn--white{
            background: $dark-blue;
            color: $white;
        }
    }  
}