.header{
    &__top {
        background:$white;
        height: 40px;
        border-bottom: 1px solid $grey-dark;
        @include if-max-break(sm) {
            display: none;
        }
        .light--theme &{
            background: $white;
        }
        .dark--theme &{
            background: $white;
        }
    }
    &__left {
        float: left;
        a{
            color:$primary-2;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 39px;
        }
    }
    &__right {
        float: right;
        padding: 10px 0;
        a{
            color:$primary-2;
            text-transform: uppercase;
            font-size: 13px;
            border-right: 1px solid $grey-dark;
            padding: 0 19px 0 23px;
            float: left;
            @include if-max-break(md) {
                padding: 0 18px 0 21px;
            }
            &:last-child{
                border-right:none;
                padding-right: 0;
            }
        }
    }
    &__bottom {
        background: $bg-gray;
        .light--theme &{
            background: $light-bg;
        }
        .dark--theme &{
            background: $dark-bg;
        }
    }
    &__logo {
        float: left;
        line-height: 82px;
    }
    &__navsection {
        float: right;
        width: 70%;
        position: relative;
        @include if-max-break(md) {
            width: auto;
        }
        .menuclick {
            color: $blue;
            display: none;
            font-size: 31px;
            float: right;
            margin: 17px 0;
            @include if-max-break(md) {
                display: block;
            }
        }
    }
    &__menu {
        float: left;
        @include if-max-break(md) {
            position: absolute;
            right: -15px;
            top: 79px;
            z-index: 99;
            background:$bg-gray;
            left: auto;
            width: 120px;
            .dark--theme &{
                background: $primary-1;
            }
            .light--theme &{
                background: $light-bg;
            }
        }
        &.collapse{
            display: block;
            @include if-max-break(md) {
                display: none;
            }
            &.show{
                display: block;
            }
        }
        @include if-max(lg) {
            float: right;
        }
        
        a{
            color: $primary-1;
            line-height: 82px;
            text-transform: uppercase;
            font-family: $segoe-bold;
            padding: 0 23px;
            font-size: 12px;
            float: left;
            @include if-max-break(md) {
                border-bottom: 1px solid $grey-dark; 
                display: block;
                line-height: 40px;
                text-align: center;               
                width: 100%;    
            }
            .dark--theme &{
                color: $white;
            }
            &:hover, &.active{
                color: $blue;
            }            
        }
    }
    &__icons {
        float: right;
        padding-right: 30px;
        @include if-max(lg) {
            display: none;
        }
        a{
            color: $primary-1;
            line-height: 82px;
            padding: 0 27px;
            border-right: 1px solid $grey-dark;
            float: left;
            &:first-child{
                border-left: 1px solid $grey-dark;
            }
            .light--theme &{
                border-color: $grey-dark;
            }
            .dark--theme &{
                color: $white;
                border-color: $grey-medium;
            }
        }
    }
}