.newsletter{
    background: $grey-shade;
    padding: 100px 20px;  
    margin-top: 140px;  
    @include if-max-break(md) {
        padding: 90px 20px;  
        margin-top: 70px;
    }
    @include if-max-break(sm) {
        margin-top: 30px;
    }
    &__container{
        margin: auto;
        padding: 0 15px;
        width: 630px;
        @media (max-width: 650px){
            width: 100%;
        }
    }
    &__title{
        font-family: $segoe-bold;
        font-size: 30px;
        margin-bottom: 10px;
    }
    &__info{
        color: $primary-2;
        margin-bottom: 50px;
    }
    &__textbox{
        background: $white;
        border: none;
        border-radius: 50px;
        color: $primary-2;        
        height: 40px;
        padding: 12px 140px 15px 25px;
        width: 100%;
        &:focus{
            box-shadow: 0 0 4px inset $primary-2;
            outline: none;
            transition: all 0.5s linear;
        }
    }
    .btn{
        position: absolute;
        right: 15px;
    }
}